/*******ACCUEIL*********/
body
{

	margin: 0;
	padding: 0;
  font-family: "Raleway", Arial, Tahoma, sans-serif;
  box-sizing: border-box;
}

header
{
	/*position: relative;
	/*background-image: url('../images/fond1lo.jpg')  ;
	background-size: contain;
	overflow: hidden;*/
	width: 100%;
}
a
  {
    text-decoration: none;
    color: white;
  }

	/****************************slide***********************/
	.contener_slideshow
	{
	  width: 100%;
	  height: 700px;
	  overflow: hidden;
	  position: relative;
	  background-image: url(YOUR-URL-IMAGE.png);
	}
.contener_slideshow	img
	{
	  width: 100%;
		height: 700px;
	}
	.slid_1, .slid_2, .slid_3, .slid_4, .slid_5
	{
	  position: absolute;
	  width:100%;
	  height:211px;
		background-color: rgba(200,0,0,0.8);

	}
	.slid_1
	{
	  left:0;
	}
	.slid_2
	{
	  left: 100%;
	}
	.slid_3
	{
	  left: 200%;
	}
	.slid_4
	{
	  left: 300%;
	}
	.slid_5
	{
	  left: 400%;
	}
	.contener_slide
	{
	  width: 100%;
	  height: 211px;
	  left:0px;
	  position: absolute;
	  -webkit-animation-duration: 20s;
	  -webkit-animation-iteration-count:infinite;
	  -webkit-animation-name: anim_slide;
	  -moz-animation-duration: 20s;
	  -moz-animation-iteration-count:infinite;
	  -moz-animation-name: anim_slide;
	  -ms-animation-duration: 20s;
	  -ms-animation-iteration-count:infinite;
	  -ms-animation-name: anim_slide;
	  animation-duration: 20s;
	  animation-iteration-count:infinite;
	  animation-name: anim_slide;
	}

	@keyframes anim_slide
	{
	    0% {left:0px;}
	    20% {left:0px;}
	    30% {left:-100%;}
	    35% {left:-100%;}
	    45% {left:-200%;}
	    50% {left:-200%;}
	    65% {left:-300%;}
	    70% {left:-300%;}
	    90% {left:-400%;}
	    100% {left:-400%;}
	}

.div_titre
{
	position: absolute;
	z-index: 2;
	top: 40%;
	left: 30%;
  	background-color: rgba(0, 0, 0, 0.21);
	padding: 0 10px 0 10px;
	border-radius: 10px;

}
.div_titre h1
{
	color: white;
}
.div_titre h2
{
	color: white;
}
#arrowdown
{
	position: absolute;
	top: 75%;
	left: 50%;
	z-index: 0;
	width: 50px;
	height: 50px;
	top: 100%;
}
h1
{
	font-family: "Raleway";
	letter-spacing: 1px;
	font-size: 42px;
	font-weight: bold;
	font-weight: 900px;
	color: black;

}
h2
{
	color: black;
	margin-top: 10px;
	font-family: "Raleway", Arial, Tahoma, sans-serif;
}
/*****CONTENT****/
mark
{
	background-color: white;
	color: #f43910;
}
/******************************************************************/
/*****************************BLOCK1*******************************/
/******************************************************************/
#block1_conteneur
{
	padding: 60px;
	display: flex;
	flex-direction: row;

	  scroll-behavior: smooth;

	}
#phrase1
{
	color: #444444;
	font-size: 35px;
	text-align: center;
	align-self: center;
}
.quoi_contenue
{
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}
.quoi_contenue:nth-child(1)

{
	flex-grow: 1.5;
	flex-shrink: 1.5;
	flex-basis: 0;
}
#descpitif_quoi_conteneur
{
	font-size: 20px;
}
.descpitif_contenue
{
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	padding-top: 15px;
}
#paragraphe_en_gris
{
	color: darkgray;
	flex-grow: 3;
	flex-shrink: 3;
	flex-basis: 0;
}

/*******************************************************************/
/******************************BLOCK2*******************************/
/*******************************************************************/

#block2_conteneur
{
	padding: 60px;
	display: flex;
	flex-direction: row-reverse;
}
.Aqui_contenue
{
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}
#phrase2
{
	color: #444444;
	font-size: 35px;
	text-align: center;
}



/*******************************************************************/
/******************************BLOCK6*******************************/
/*******************************************************************/
#block6_conteneur
{
	padding: 60px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}
.informations
{
	flex-grow: 1;
	flex-basis: 1;
	flex-basis: 0;
}
#adresse
{
	text-align: center;
	padding: 50px 40px 40px 40px;
	background-color: #e7ecef;
	color: #444444;
}
span
{
	font-weight: bold;
}
/************************/
#horaire_image
{
	padding: 20px;
	background-color:red;
	display: flex;
	flex-direction: column;
}
#imagemain
{
	margin-bottom: 300px;
}

#horaire_ouverture
{
	margin-top: 20px;
	color: white;
	font-weight: bold;
	font-size: 2rem;
}

.horaire_jour_semaine
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
 	align-items: center;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}
.horaire_case
{
	padding: 1rem;
	text-align: center;
	color: white;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}
/*******************************************************************/
/******************************FOOTER*******************************/
/*******************************************************************/
footer
{
	padding: 30px;
	background-color: rgba(200,0,0,0.8);
}

#logo-reseaux
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.leslogos
{
	color: white;
	text-align: center;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}
.leslogos:nth-child(1)
{
	text-align: right;
	color: white;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}
.leslogos:nth-child(3)
{
	text-align: left;
	color: white;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}
/*******************************************************************/
/******************************Reponsive*******************************/
/*******************************************************************/

@media screen and (min-width:600px) and (max-width: 900px)
{
	.div_titre
	{
		left: 15%;
	}
	/****block1 ******/
	#block1_conteneur
	{
		padding: 40px;
	}
	#descpitif_quoi_conteneur
	{
		font-size: 15px;
	}
	#phrase1
	{
		font-size: 25px;
		text-align: center;
		align-self: center;
	}
	/*****block2******/
	#block2_conteneur
	{
		padding: 40px;
		display: flex;
	}
	#phrase2
	{
		font-size: 25px;
		text-align: center;
		align-self: center;
	}
	/****block6*****/
	#block6_conteneur
	{
		padding: 60px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	#imagemain
	{
		display: none;
	}
}
@media screen and (min-width: 0px) and (max-width: 600px)
{
		.div_titre
	{
		left: 1%;
	}
	/****block1 ******/
	#descpitif_quoi_conteneur
	{
		font-size: 15px;
	}
	#phrase1
	{
		font-size: 25px;
		text-align: center;
		align-self: center;
	}
	#block1_conteneur
	{
		padding: 50px;
		display: flex;
		flex-direction: column;
	}
	/****block2******/
	#block2_conteneur
	{
		padding: 50px;
		display: flex;
		flex-direction: column;
	}
		#phrase2
	{
		font-size: 25px;
		text-align: center;
		align-self: center;
	}

	/****block6******/
	#block6_conteneur
	{
		padding: 30px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	#horaire_ouverture
	{
		font-size: 1rem;
	}
	#horaire_image
	{
		margin-top: 10px;
		padding: 5px;
	}
	#imagemain
	{
		display: none;
	}
}
