
body
{
  margin: 0;
	font-family: "Raleway", Arial, Tahoma, sans-serif;
}
/******************************************************************/
/*****************************Header*******************************/
/******************************************************************/

#div_header
{
  position: relative;
  display: inline-block;
  line-height: 0;
  width: 100%;
}
#img1_header
{
  width: 50%;
}
#img2_header
{
  float: right;
  width: 50%;
}

/******************************************************************/
/*****************************section 1*******************************/
/******************************************************************/
section
{
text-align: center;
  padding: 100px 10px 10px 50px;
}



/*****************************************************************/

.div_row
{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.div_projet
{

  border-radius: 8px;
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.26);
  margin-bottom: 20px;
  background-color: #fff;
  transition: .15s;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  margin: 10px;
  max-width: 400px;
}
.div_img
{
  position: relative;
overflow: hidden;
height: 237px;
}
#img_projet1
{
  width: 100%;
  height: 500px;
  border-radius: 8px;
}
#img_projet2
{
  width: 100%;
  height: 300px;
  border-radius: 8px;
}

._217q
{
  height: 300px
}


@media screen and (min-width:000px) and (max-width: 1000px)
{

section
{

  padding: 100px 10px 10px 0px;

  }
}
