
body
{
  margin: 0;
	font-family: "Raleway", Arial, Tahoma, sans-serif;
}
/******************************************************************/
/*****************************Titres*******************************/
/******************************************************************/
h1
{
  font-size: 3em;
  color: #ae1212;
  letter-spacing: 0.04em;
	font-family: "Raleway", Arial, Tahoma, sans-serif;    line-height: 1.2em;
  text-transform: uppercase;
  margin-bottom: 5px;
}
h2
{   padding-left: 10px;
    font-size: 2em;
    line-height: 52px;
    color: #f43910;
}
h3
{
  font-size: 25px;
  line-height: 27px;
  color: #444444;
}
em
{
  color: #ae1212;
  font-weight: bold;
}
strong
{
  color: black;
  font-weight: bold;
}
/******************************************************************/
/*****************************Header*******************************/
/******************************************************************/
#div_header
{
   position: relative;
   display: inline-block;
   line-height: 0;
   width: 100%;
}
#img1_header
{
  width: 50%;
}
#img2_header
{
  float: right;
  width: 50%;
}
/******************************************************************/
/*****************************section 1****************************/
/******************************************************************/
section
{
  text-align: center;
  padding:50px 0 20px 0;
}
.div_container
{
  display: flex;
  flex-direction: row;
}
.div_contact
{
    border: 4px solid #c9c5c5;
    padding: 10px 20px 30px;
    margin: 0px auto 0;
    text-align: center;
    position: relative;
    max-width: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}
.msg_confirmation
{
  font-style: italic;
  color: red;
}
.div_horaire
{
  text-align: left;
}
.img_fb
{
  width: 50px;
  height: 50px;
}
.div_horaire p
{
  font-size: 0.9em;
}
.div_RS
{
  margin-top: 50px;
}
#mapPic
{
  width: 95% ;

}
.item
{
  width: 100%;
  background-color: rgba(255,255,255,0.3);
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  display: block;
  margin: 20px 0 10px 0;
}
#boutton_envoyer
{
  background-color: #ae1212;
  color: white;
  margin: 20px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #ea89a8;
}
/*******************************************************************/
/******************************FOOTER*******************************/
/*******************************************************************/

footer
{
	padding: 30px;
  background-color: rgba(200,0,0,0.8);

}

#logo-reseaux
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

}
.leslogos
{
	color: white;
text-align: center;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}
.leslogos:nth-child(1)
{
	text-align: right;
	color: white;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}
.leslogos:nth-child(3)
{
	text-align: left;
	color: white;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}

/*******************************************************************/
/******************************Reponsive*******************************/
/*******************************************************************/


@media screen and (min-width: 0px) and (max-width: 1000px)
{

  .div_container
  {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px 10px 100px 10px;
  }
  .div_contact
  {
    margin-top: 10px;
  }
  #mapPic img
  {
    width: 100%;
  }

}
