/*******************************************************************/
/******************************FOOTER*******************************/
/*******************************************************************/
footer
{
	padding: 30px;
  background-color: rgba(200,0,0,0.8);

}

#logo-reseaux
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

}
.leslogos
{
	color: white;
text-align: center;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}
.leslogos:nth-child(1)
{
	text-align: right;
	color: white;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}
.leslogos:nth-child(3)
{
	text-align: left;
	color: white;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}
.img_footer
{
  width: 30px;
}
