
body
{
  margin: 0;
	font-family: "Raleway", Arial, Tahoma, sans-serif;
}
/******************************************************************/
/*****************************Titres*******************************/
/******************************************************************/
h1
{
   font-size: 3em;
   color: #ae1212;
   letter-spacing: 0.04em;
   font-family: "Raleway", Arial, Tahoma, sans-serif;    line-height: 1.2em;
   text-transform: uppercase;
   margin-bottom: 5px;
}
h2
{   padding-left: 10px;
    font-size: 2em;
    line-height: 52px;
    color: #f43910;
}
h3
{
  font-size: 25px;
  line-height: 27px;
  color: #444444;
}
em
{
  color: #ae1212;
  font-weight: bold;
}

/******************************************************************/
/*****************************Header*******************************/
/******************************************************************/
#div_header
{
  position: relative;
  display: inline-block;
  line-height: 0;
  width: 100%;
}
#img1_header
{
  width: 50%;
}
#img2_header
{
  float: right;
  width: 50%;
}
/******************************************************************/
/*****************************section 1*******************************/
/******************************************************************/
section
{
 padding: 100px 10px 10px 50px;
}
.div1_section
{
  max-width: 700px;
  margin: 20px;
}
.div2_section
{
  padding: 10px 10px 10px 20%;
}
.logo_img
{
  width: 200px;
}

/*******************************************************************/
/******************************FOOTER*******************************/
/*******************************************************************/

footer
{
	padding: 30px;
  background-color: rgba(200,0,0,0.8);

}
.div_footer
{


}
#logo-reseaux
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

}
.leslogos
{
	color: white;
text-align: center;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}
.leslogos:nth-child(1)
{
	text-align: right;
	color: white;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}
.leslogos:nth-child(3)
{
	text-align: left;
	color: white;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}


/*******************************************************************/
/******************************Reponsive*******************************/
/*******************************************************************/

@media screen and (min-width:300px) and (max-width: 700px)
{
  h1
  {
     font-size: 1.7em;
     color: #ae1212;
     letter-spacing: 0.04em;
     font-family: "Raleway", Arial, Tahoma, sans-serif;    line-height: 1.2em;
     text-transform: uppercase;
     margin-bottom: 5px;
  }
  h2
  {   padding-left: 10px;
      font-size: 1em;
      line-height: 52px;
      color: #f43910;
  }
  h3
  {
    font-size: 0.9em;
    line-height: 27px;
    color: #444444;
  }
  em
  {
    color: #ae1212;
    font-weight: bold;
  }

  section {
      padding: 100px 10px 10px 20px;
  }
  .div2_section
  {
    text-align: center;
    margin: auto;
    padding: 10px;
  }

}
