a
  {
    text-decoration: none;
    color: white;
  }

#div1-header
{
	width: 100%;
	z-index: 6;
	position: fixed;
background-color: rgba(200,0,0,0.8);
	height: 70px;
	padding: 5px 0 0 5px;
}
#menu
{
  display: none;
}
#logo2-hdr
{
	width: 60px;
}
nav
{
	margin: 0px 10px 0px 0px;
	float: right;

}
nav ul
{
  margin: 0;
}
.liennav
{
	font-family: "Raleway", Arial, Tahoma, sans-serif;
	margin: 1rem;
	color: white;
	display: inline-block;
}

.liennav:hover
{
	cursor: pointer;
	text-shadow: 1px 0px;
	margin: 1rem;
	color: white;
	display: inline-block;
}

#fleche_haut
{
	width: 50px;
	height: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;

    opacity: 0.5;
}
#fleche_haut:hover
{
	opacity: 1;
}
.hide
{
  display: none;
}
.show
{
  display: block;
}
@media screen and (min-width:0px) and (max-width: 939px)
{

  nav
  {
    margin: 0;
    top: 75px;
    position: absolute;
    z-index: 5000;
    right: 0;
    display: none;
    background-color: rgba(200,0,0,0.8);
  }
  nav ul
  {
    list-style-type: none;
    margin: 0;
  }
  .liennav
  {
  	font-family: "Raleway", Arial, Tahoma, sans-serif;
  	margin: 1rem;
  	color: white;
    display: block;
  }

  .liennav:hover
  {
  	cursor: pointer;
  	text-shadow: 1px 0px;
  	margin: 1rem;
  	color: white;
  }
  #menu
  {
       display: block;
      color: white;
      float: right;
      padding: 0px 20px 0 0;
      font-size: 1.5em;
  }

}
