body
{
  margin: 0;
	font-family: "Raleway", Arial, Tahoma, sans-serif;
}
/******************************************************************/
/*****************************Titres*******************************/
/******************************************************************/
h1
{
  font-size: 3em;
  color: #ae1212;
  letter-spacing: 0.04em;
	font-family: "Raleway", Arial, Tahoma, sans-serif;    line-height: 1.2em;
  text-transform: uppercase;
  margin-bottom: 5px;
}
h2
{
  padding-left: 10px;
  font-size: 2em;
  line-height: 52px;
  color: #f43910;
}
h3
{
  font-size: 25px;
  line-height: 27px;
  color: #444444;
}
/******************************************************************/
/*****************************Header*******************************/
/******************************************************************/

#div_header
{
  position: relative;
  display: inline-block;
  line-height: 0;
  width: 100%;
}
#img1_header
{
  width: 50%;
}
#img2_header
{
  float: right;
  width: 50%;
}
/******************************************************************/
/*****************************section 1*******************************/
/******************************************************************/
section
{
  padding: 100px 10px 10px 50px;
}
section a
{
  text-decoration: underline;
  color: #ae1212;
  font-size: 0.8em;
}
.div
{
  width: 50%;
  border-radius: 8px;
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.26);
  margin-bottom: 20px;
  background-color: #fff;
  transition: .15s;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  margin: 10px;
  width: 80%;
}
.p_cout
{
  font-weight: bold;
  font-style: italic;
}
.div_decaler
{
  margin: 10px 10px 10px 100px;
}

.div1_3d
{
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  width: 50%;
}
.div2_3d
{
  vertical-align: top;
  display: inline-block;
  width: 500px;
  margin: 70px;
}
.div3_3d
{
  display: inline-block;
  vertical-align: top;
  margin: 50px;
  width: 500px;
}

#img_ProJet-660
{
  vertical-align: bottom;
  padding: 50px;
}
.img_machine
{
  width: 300px;
  height: 300px;
}
/*******************************************************************/
/******************************FOOTER*******************************/
/*******************************************************************/

footer
{
	padding: 30px;
  background-color: rgba(200,0,0,0.8);
}

#logo-reseaux
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.leslogos
{
	color: white;
  text-align: center;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}
.leslogos:nth-child(1)
{
	text-align: right;
	color: white;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}
.leslogos:nth-child(3)
{
	text-align: left;
	color: white;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}

@font-face {
    font-family: 'action_manitalic';
    src: url('../fontfamily/Action_Man_Italic-webfont.eot');
    src: url('../fontfamily/Action_Man_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontfamily/Action_Man_Italic-webfont.woff') format('woff'),
         url('../fontfamily/Action_Man_Italic-webfont.ttf') format('truetype'),
         url('../fontfamily/Action_Man_Italic-webfont.svg#action_manitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*******************************************************************/
/******************************Reponsive*******************************/
/*******************************************************************/

@media screen and (min-width:300px) and (max-width: 900px)
{
      section
      {
        padding: 100px 10px 10px 10px;
        text-align: center;
      }

      .div
      {
        border-radius: 8px;
        box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.26);
        background-color: #fff;
        transition: .15s;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        margin: auto;
        width: 90%;
        text-align: center;
      }
      .div img
      {
        width: 100%;
      }
      .div1_3d
      {
        display: inline-block;
        vertical-align: top;
        margin: 20px;
        text-align: center;
        width: auto;
      }
      .div_decaler
      {
        margin: 30px auto;
      }
      .div2_3d
      {
        vertical-align: top;
        display: inline-block;
        margin: 20px;
        text-align: center;
        width: auto;
      }
      .div3_3d
      {
        vertical-align: top;
        display: inline-block;
        margin: 20px;
        text-align: center;
        width: auto;
      }
      #img_ProJet-660
      {
        padding: 0;
      }
}
