
body
{
  box-sizing: border-box;
  margin: 0;
	font-family: "Raleway", Arial, Tahoma, sans-serif;
}
/******************************************************************/
/*****************************Titres*******************************/
/******************************************************************/
h1
{
    font-size: 60px;
    color: #ae1212;
    letter-spacing: 0.04em;
	  font-family: "Raleway", Arial, Tahoma, sans-serif;    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 5px;
}
h2
{   padding-left: 10px;
    font-size: 1.5em;
    color: #f43910;
}
h3
{
  font-size: 25px;
  line-height: 27px;
  color: #444444;
}
em
{
  color: #ae1212;
  font-family: 'Comic Sans MS', cursive;
}
/******************************************************************/
/*****************************Header*******************************/
/******************************************************************/
#div_header
{
  position: relative;
  display: inline-block;
  line-height: 0;
  width: 100%;
}
#img1_header
{
  width: 50%;
}
#img2_header
{
  float: right;
  width: 50%;
}
/******************************************************************/
/*****************************section 1*******************************/
/******************************************************************/
section
{
  padding: 100px 10px 10px 20px;

}
section a
{
  text-decoration: none;
  color: black;
}
.div_row
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.div_projet
{
  min-width: 30%;
  max-width: 30%;
  border-radius: 8px;
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.26);
  margin-bottom: 20px;
  background-color: #fff;
  transition: .15s;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  margin: 10px;
}
.div_img
{
  position: relative;
  overflow: hidden;
  height: 237px;
}
#img_projet1
{
  width: 100%;
  height: 500px;
  border-radius: 8px;
}
.img_projet2
{
  width: 100%;
  height: 300px;
  border-radius: 8px;
}
#img_projet4
{
  width: 100%;
  height: 300px;
  border-radius: 8px;
}
.div_liste
{
  color: darkgrey;
  padding: 20px;
}
.div_liste ul
{
 padding: 0;
}
.div_liste ul li
{
 padding: 5px;
}
p
{
  padding: 20px;
}

/*******************************************************************/
/******************************FOOTER*******************************/
/*******************************************************************/

footer
{
	padding: 30px;
  background-color: rgba(200,0,0,0.8);

}
#logo-reseaux
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

}
.leslogos
{
	color: white;
text-align: center;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}
.leslogos:nth-child(1)
{
	text-align: right;
	color: white;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}
.leslogos:nth-child(3)
{
	text-align: left;
	color: white;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}



/*******************************************************************/
/******************************Reponsive*******************************/
/*******************************************************************/

@media screen and (min-width:300px) and (max-width: 600px)
{

  .div_projet
  {
  min-width: 95%;
  max-width: 95%;

  }
}
@media screen and (min-width:600px) and (max-width: 900px)
{

  .div_projet
  {
    min-width: 45%;
    max-width: 45%;
  }
}
