.contener_slideshow
{
      width: 100%;
    height: 900px;
  overflow: hidden;
  position: relative;
  background-image: url(YOUR-URL-IMAGE.png);
}
img
{
  width: 100%;
}
.slid_1, .slid_2, .slid_3, .slid_4, .slid_5
{
  position: absolute;
  width:100%;
  height:211px;
}
.slid_1
{
  left:0;
}
.slid_2
{
  left: 1210px;
}
.slid_3
{
  left: 2420px;
}
.slid_4
{
  left: 3630px;
}
.slid_5
{
  left: 4840px;
}
.contener_slide
{
  width: 100%;
  height: 211px;
  left:0px;
  position: absolute;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-name: anim_slide;
  -moz-animation-duration: 20s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-name: anim_slide;
  -ms-animation-duration: 20s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-name: anim_slide;
  animation-duration: 20s;
  animation-iteration-count:infinite;
  animation-name: anim_slide;
}

@keyframes anim_slide 
{
    0% {left:0px;}
    20% {left:0px;}
    30% {left:-1210px;}
    35% {left:-1210px;}
    45% {left:-2420px;}
    50% {left:-2420px;}
    65% {left:-3630px;}
    70% {left:-3630px;}
    85% {left:-4840px;}
    90% {left:-4840px;}
}