body{
  background-image: url('../image/slide0.png');
  margin: 0;
}
h1
{
  margin: 10px 10px 20px 10px;
  padding: 10px;
  color: #ea89a8;
  font-size: 2.5em;
  font-family: 'belligerent-webfont','Comic Sans MS', cursive;
  font-weight: bold;
}
header
{
      padding: 5px 10px 50px 10px;
}
h2
{
  color: white;
  font-size: 1.5em;
  font-family: 'Comic Sans MS', cursive;
  font-weight: bold;
}
p
{
  color: white;
  font-size: 1em;
  font-family: 'Comic Sans MS', cursive;
  display: inline-block;
}
#img_log
{
  display: block;
  float: right;
}

#div_header
{
  padding: 70px 10px 100px 10px;
  transition-property: display;
  transition-duration: 5s;
  text-align: center;
}


#div2_header
{
    max-width: 50%;
    margin:  auto;
    transition-property: display;
    transition-duration: 5s;
}

.div_form
{

  margin: 5px;
  padding: 50px;
  width: auto;
  border: solid 2px white;
  border-radius: 20px;
  flex-direction: column;

}

.ligne-item
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}
.item2
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hide
{
  display: none;
}
.show
{
  display: block;

  animation:aparition-bloc 2s;
}



.bouton_valider
{
  background-color: #D83F3D;
 margin-left:5px;
 box-shadow:1px 1px 1px #D83F3D;
 cursor:pointer;
 border-color: white;
 padding: 10px;
 width: 300px;
 }

 .bouton_valider:hover {
  background-color:#D83F3D;
  }

 .bouton_valider:active {
  background-color:#D83F3D;
  box-shadow:1px 1px 1px #D83F3D inset;
 }



 @font-face{
 	font-family: 'belligerent-webfont';
 	src: url('../css/font/belligerent-webfont.eot');
 	src: url('../css/font/belligerent-webfont.eot?iefix') format('eot'),
 	     url('../css/font/belligerent-webfont.woff') format('woff'),
 	     url('../css/font/belligerent-webfont.ttf') format('truetype'),
 	     url('../css/font/belligerent-webfont.svg#webfont') format('svg');
 }
