body
{
  background-color: #FFB9FFFF;
  text-align: center;
}

#tab1
{
  max-width: 90%;
  margin: auto;
  border-spacing: 0;
}
#champs
{
  color: red;

}

tr:hover
{
  background-color: #f5f5f5;
}

table,tbody,tr,td
{
  padding: 20px 30px 20px 30px;
   border-bottom: 1px solid #ddd;
}


img
{
  margin: 20px;
}
