body
{
  background-image: url('../image/slide3.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
header
{
  padding: 5px 10px  50px 10px;
}
#img_log
{
  display: block;
  float: right;
}
#msg_conf
{
  color: #9c2c50;
  font-size: 1.5em;
  font-family: 'Comic Sans MS', cursive;
  font-weight: bold;
}
h2
{
  color: #9c2c50;
  font-size: 1.5em;
  font-family: 'Comic Sans MS', cursive;
  font-weight: bold;
}
p
{
  color: white;
  font-size: 1em;
  font-family: 'Comic Sans MS', cursive;
  display: inline-block;
}
#div_cr
{
  background-color: white;
  width: 500px;
  max-width: 50%;
  margin: auto;
}
.bouton_valider
{
 width:100px;
 margin-left:5px;
 box-shadow:1px 1px 1px #D83F3D;
 cursor:pointer;
 }

 .bouton_valider:hover {
  background-color:#ea89a8;
  }
 .bouton_valider:active {
  background-color:#D83F3D;
  box-shadow:1px 1px 1px #ea89a8 inset;
 }

 #form_create_child
 {
   width: 500px;
   max-width: 50%;
   margin: auto;
 }

input[type=text], select, textarea{
   width: 100%;
   background-color:transparent;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   resize: vertical;
 }

 /* Style the label to display next to the inputs */
 label {
   padding: 12px 12px 12px 0;
   display: inline-block;
   font-weight: bold;
   background-color:transparent;
 }

 /* Style the submit button */
 input[type=submit] {
   background-color: #D83F3D;
   color: white;
   margin: 20px;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   float: right;
 }

 /* Style the container */
 .container {
     height: 100%;
   max-width: 50%;
   margin: auto;
   width: 600px;
   border-radius: 5px;
   background-color: rgba(255,255,255,0.4) ;
    padding: 10px 40px 10px 40px;
 }

 /* Floating column for labels: 25% width */
 .col-25 {
   float: left;
   width: 25%;
   margin-top: 6px;
 }

 /* Floating column for inputs: 75% width */
 .col-75 {
   float: left;
   width: 75%;
   margin-top: 6px;
 }

 /* Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
#fleche_retour
{
  float: left;
}
s
