body
{
  background-image: url('../image/slide4.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
header
{
  padding: 5px 10px  50px 10px;
}
#img_log
{
  display: block;
  float: right;
}
p
{
  color: white;
  font-size: 1em;
  font-family: 'Comic Sans MS', cursive;
  display: inline-block;
}


#champs
{
  color: #9c2c50;
  font-size: 1.5em;
  font-family: 'Comic Sans MS', cursive;
  font-weight: bold;

}
#div_cr
{
  background-color: white;
  width: 500px;
  max-width: 50%;
  margin: auto;
}
#tab1
{
  max-width: 92%;
  margin: auto;
  border-spacing: 0;
  border: solid 1px white;
  background-color: rgba(255,255,255,0.4) ;

}
.div_fleche
{
  padding: 30px;
  width: 200px;
}

tr:hover
{
  background-color: #f5f5f5;
}

table,tbody,tr,td
{
  padding: 20px 30px 20px 30px;
   border-bottom: 1px solid #ddd;
}
.item
{
  background-color:transparent;
}
#text_area
{
  vertical-align: top;
  background-color:transparent;
}
#fleche_retour
{
  float: left;
  width: 5em;

}
