body{
  background-image: url('../image/slide0.png');
  margin: 0;
}
h1
{
  margin: 10px 10px 20px 10px;
  padding: 10px;
  color: #ea89a8;
  font-size: 2.5em;
  font-family: 'belligerent-webfont','Comic Sans MS', cursive;
  font-weight: bold;
}
header
{
  background-image: url("../image/img_header.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;


}
h2
{
  color: white;
  font-size: 1.5em;
  font-family: 'Comic Sans MS', cursive;
  font-weight: bold;
}
p
{
  color: white;
  font-size: 1em;
  font-family: 'Comic Sans MS', cursive;
  display: inline-block;
}
nav
{
  padding: 50px 50px 10px 10px ;
}
a
{
  color: white;
  text-decoration: none;
}
#menu_horizontal
{
	margin: 0;
	list-style-type : none;
	float : right;
}

#menu_horizontal li
{
	padding : 0px 5px 0px 5px ;
	float : left;
	font-weight: bold;
}

#div_header
{
    padding: 70px 10px 325px 10px;
      height: 200px;
  transition-property: display;
  transition-duration: 5s;

}

#lien_cnx
{
	color: white;
  background: black;
  opacity: 0.4;

	padding: 10px 30px 20px 30px;
	border-radius: 50px;
	text-decoration:none;
	font-size: 1.5em;
	font-family: Comic Sans MS;
    text-align:  center;
    border: solid 3px white;

}
#lien_cnx:hover
{
  opacity: 0.5;
}
#titre1
{
  animation: caption-left 1s  cubic-bezier(0.985, 0.005, 0.265, 1);
}
#titre2
{
    padding: 100px;
  animation: caption-rigth 1s cubic-bezier(0.985, 0.005, 0.265, 1);

}


#div2_header
{
    max-width: 50%;
    margin:  auto;
    transition-property: display;
    transition-duration: 5s;
}

.div_form
{
  margin: 5px;
  padding: 5px;
  width: 600px;
  border: solid 2px white;
  border-radius: 20px;
}
#form
{

  flex-direction: column;
}

.ligne-item
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}
.item2
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hide
{
  display: none;
}
.show
{
  display: block;

  animation:aparition-bloc 2s;
}

@keyframes aparition-bloc
{
0% {
    opacity: 0;
}
100% {

    opacity: 1;
}

}
@keyframes caption-left
{
0% {
    transform: translate(-2000px,0);
    opacity: 0;
}
100% {
    transform: translate(0,0);
    opacity: 1;
}

}

@keyframes caption-rigth
{
  0% {
      transform: translate(2000px,0);
      opacity: 0;
  }

  100% {
      transform: translate(0,0);
      opacity: 1;
  }

}

.bouton_valider
{
  background-color: #D83F3D;
 margin-left:5px;
 box-shadow:1px 1px 1px #D83F3D;
 cursor:pointer;
 border-color: white;
 padding: 10px;
 width: 300px;
 }

 .bouton_valider:hover {
  background-color:#D83F3D;
  }

 .bouton_valider:active {
  background-color:#D83F3D;
  box-shadow:1px 1px 1px #D83F3D inset;
 }

  input[type=text],input[type=password]{
   width: 100%;
   background-color: rgba(255,255,255,0.3) ;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   resize: vertical;
 }

 /* Style the label to display next to the inputs */
 label {
   padding: 12px 12px 12px 0;
   display: inline-block;
   font-weight: bold;
   background-color:transparent;

 }

 /* Style the submit button */
 input[type=submit] {
   background-color: #D83F3D;
   color: white;
   margin: 20px;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   float: ;
 }

 /* Style the container */
 .container {
     height: 100%;
   max-width: 50%;
   margin: auto;
   width: 600px;
   border-radius: 5px;
   background-color: rgba(255,255,255,0.4) ;
   padding: 10px 10px 10px 10px;

 }

 /* Floating column for labels: 25% width */
 .col-25 {
   float: left;
   width: 25%;
   margin-top: 6px;
 }

 /* Floating column for inputs: 75% width */
 .col-75 {
   float: left;
   width: 75%;
   margin-top: 6px;
 }

 /* Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }



 @font-face{
 	font-family: 'belligerent-webfont';
 	src: url('../css/font/belligerent-webfont.eot');
 	src: url('../css/font/belligerent-webfont.eot?iefix') format('eot'),
 	     url('../css/font/belligerent-webfont.woff') format('woff'),
 	     url('../css/font/belligerent-webfont.ttf') format('truetype'),
 	     url('../css/font/belligerent-webfont.svg#webfont') format('svg');
 }
